# Apply all these resources with `kubectl apply -k .` from the directory containing this file
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: adguardhome-config
    namespace: adguardhome
    files:
      - AdGuardHome.yaml=adguardhome-config.yaml
    options:
      labels:
        app.kubernetes.io/name: adguardhome

generatorOptions:
  disableNameSuffixHash: true
 
resources:
  - adguardhome.yaml
  - adguardhome-service.yaml
  - adguardhome-ingress.yaml