# Apply all these resources with `kubectl apply -k .` from the directory containing this file
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: helm-playground

# Use Helm chart inflation with kustomize
helmCharts:
  - name: nginx
    repo: https://charts.bitnami.com/bitnami
    version: 18.2.6
    releaseName: nginx-playground
    namespace: helm-playground
    valuesInline:
      replicaCount: 1
      service:
        type: ClusterIP
      resources:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          cpu: 100m
          memory: 128Mi

resources:
  - namespace.yaml
