**/.terraform*
**/*.auto.tfvars
**/.vscode
**/terraform.tfstate*
**/*auto.pkrvars.hcl
**/downloaded_**
ansible/inventory/group_vars/*.yml
.sfdx/**
**.env
terraform/environments/proxmox.tfvars
*.rom
nixos/variables.nix
.DS_Store
