**/.terraform*
**/*.auto.tfvars
**/.vscode
**/terraform.tfstate*
**/*auto.pkrvars.hcl
**/downloaded_**
ansible/inventory/group_vars/*.yaml
.sfdx/**
**.env
terraform/environments/proxmox.tfvars
*.rom
nixos/variables.nix
.DS_Store
controlplane.yaml
controlplane*.yaml
worker.yaml
secrets.yaml
talosconfig
extension-patch.yaml
kubesecrets.yaml
.*
kubeconfig