extends: default

rules:
  line-length: disable
  indentation:
    spaces: consistent
    indent-sequences: whatever
  comments:
    require-starting-space: false
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  new-line-at-end-of-file: disable
  trailing-spaces: disable
  empty-lines: disable
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']
  commas:
    max-spaces-after: 1
    min-spaces-after: 1

ignore: |
  .github/workflows/markdown-link-check-config.json
  node_modules/
  .venv/
  result/
  kubernetes/**/charts/**/templates/
  kubernetes/talos/controlplane-*.yaml
  kubernetes/talos/worker-*.yaml
  kubernetes/talos/kubeconfig
  kubernetes/talos/secrets.yaml
  kubernetes/talos/talosconfig
  kubernetes/utilities/homepage/services.yaml