# Add autoupdate through keel for traefik
apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  annotations:
    keel.sh/policy: major
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"