---
# Creating namespace for traefik to be installed in
apiVersion: v1
kind: Namespace
metadata:
  name: traefik
---
# Install traefik in traefik namespace using helm
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: traefik
  targetNamespace: traefik
  repo: https://traefik.github.io/charts
  valuesContent: |-
    globalArguments:
      - "--global.sendanonymoususage=true"
    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"

    logs:
      general:
        level: INFO
      access:
        enabled: true
        bufferingSize: 100
        filters: {
          statuscodes: "400-499"
        }

    deployment:
      enabled: true
      replicas: 3

    ports:
      traefik:
        port: 9000
        exposedPort: 9000
        protocol: TCP
      web:
        expose: false
      websecure:
        port: 8443
        expose: true
        exposedPort: 443
        protocol: TCP
        tls:
          enabled: true
          middlewares:
            - traefik-secureheaders@kubernetescrd
            - traefik-ratelimit@kubernetescrd
      metrics:
        port: 9100
        expose: true
        exposedPort: 9100
        protocol: TCP

    ingressRoute:
      dashboard:
        enabled: false

    providers:
      kubernetesCRD:
        enabled: true
        namespaces: []
        allowCrossNamespace: true
        allowExternalNameServices: true
        ingressClass: traefik
      kubernetesIngress:
        enabled: true
        namespaces: []
        ingressClass: traefik
        allowCrossNamespace: true
        allowExternalNameServices: true
        publishedService:
          enabled: true

    dashboard:
      enabled: true

    rbac:
      enabled: true

    service:
      enabled: true
      type: LoadBalancer
      annotations: {}
      labels: {}
      spec:
        loadBalancerIP: {{ traefik_ip }} # this should be an IP in the kube-vip range
      loadBalancerSourceRanges: []
      externalIPs: []