[Unit]
Description=NFS mount for Emulation BIOS share
After=network-online.target
Wants=network-online.target

[Mount]
What=nfs.local.timo.be:/mnt/X.A.N.A./media/games/bios
Where=/home/deck/Emulation/bios
Type=nfs
Options=vers=4.2,relatime,sec=sys,hard,rw,nolock,_netdev
