---
apiVersion: v1
kind: Service
metadata:
  name: forestsector-svc
  namespace: traefik
spec:
  clusterIP: None
  ports:
    - port: 8006
      targetPort: 8006
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: forestsector-svc-1
  namespace: traefik
  labels:
    kubernetes.io/service-name: forestsector-svc
addressType: IPv4
ports:
  - port: 8006
endpoints:
  - addresses:
      - "10.10.10.4"
---
apiVersion: v1
kind: Service
metadata:
  name: icesector-svc
  namespace: traefik
spec:
  clusterIP: None
  ports:
    - port: 8006
      targetPort: 8006
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: icesector-svc-1
  namespace: traefik
  labels:
    kubernetes.io/service-name: icesector-svc
addressType: IPv4
ports:
  - port: 8006
endpoints:
  - addresses:
      - "10.10.10.6"
---
apiVersion: v1
kind: Service
metadata:
  name: mountainsector-svc
  namespace: traefik
spec:
  clusterIP: None
  ports:
    - port: 8006
      targetPort: 8006
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: mountainsector-svc-1
  namespace: traefik
  labels:
    kubernetes.io/service-name: mountainsector-svc
addressType: IPv4
ports:
  - port: 8006
endpoints:
  - addresses:
      - "10.10.10.5"
---
# Creating a TraefikService that allows me to loadbalance between the 3 proxmox servers with sticky sessions (necessary otherwise proxmox console does not work correctly)
# Weighted round robin with same weights for each service to loadbalance equally between them
apiVersion: traefik.io/v1alpha1
kind: TraefikService
metadata:
  name: proxmox-svc
  namespace: traefik
spec:
  weighted:
    services:
      - name: forestsector-svc
        kind: Service
        port: 8006
        scheme: https
        weight: 1
        healthCheck:
          path: /
          interval: 10
          timeout: 3
        sticky:
          cookie:
            name: lvl2
      - name: icesector-svc
        kind: Service
        weight: 1
        port: 8006
        scheme: https
        healthCheck:
          path: /
          interval: 10
          timeout: 3
        sticky:
          cookie:
            name: lvl2
      - name: mountainsector-svc
        kind: Service
        weight: 1
        port: 8006
        scheme: https
        healthCheck:
          path: /
          interval: 10
          timeout: 3
        sticky:
          cookie:
            name: lvl2
    sticky:
      cookie:
        name: lvl1
---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: proxmox-serverstransport
  namespace: traefik
spec:
  forwardingTimeouts:
    responseHeaderTimeout: 180s
    idleConnTimeout: 180s
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: proxmox
  namespace: traefik
  annotations: 
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`proxmox.kubernetes.timo.be`) || Host(`proxmox.timo.be`)
      kind: Rule
      services:
        - name: proxmox-svc
          kind: TraefikService
          serversTransport: proxmox-serverstransport