name: "Tesla Fleet Public Key Host"
description: "A simple addon that can host the public key of your Tesla Fleet application so that it can be used with the Tesla Fleet integration."
version: "1.0.8"
slug: "teslafleet-publickeyhost"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services
ports:
  8000/tcp: 8000
ports_description:
  8000/tcp: "The port on which the Tesla Fleet Public Key Host will be available."
map:
  - type: homeassistant_config
    read_only: false
    path: /homeassistant_config