apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-token-secret
  namespace: kube-system
  annotations:
  # reflecting (aka syncing) the secret from the kube-system namespace to the cert-manager namespace automatically so that it can be used by cert-manager
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "cert-manager"
type: Opaque
stringData:
  cloudflare-token: {{ cert_manager_cloudflare_api_token }}
  