---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
  namespace: mediaplayback
  annotations:
    keel.sh/policy: force
    keel.sh/match-tag: "true"
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      # Only schedule this pod on nodes william or manta that have a GPU
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - william
                - manta
      containers:
      - name: plex
        image: plexinc/pms-docker
        env:
        - name: PLEX_UID
          value: "3000"
        - name: PLEX_GID
          value: "3000"
        - name: TZ
          value: "Europe/Brussels"
        - name: PLEX_CLAIM
          valueFrom:
            secretKeyRef:
              name: plex-secrets
              key: plex_claim_token
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "8Gi"
            cpu: "3000m"
        volumeMounts:
        - name: movies
          mountPath: /movies
        - name: tvshows
          mountPath: /tv
        - name: plex-config
          mountPath: /config
        - name: transcode-cache
          mountPath: /dev/shm
        - name: music
          mountPath: /music
        - name: gpu
          mountPath: /dev/dri
      volumes:
      - name: movies
        persistentVolumeClaim:
          claimName: movies-pvc
      - name: tvshows
        persistentVolumeClaim:
          claimName: tvshows-pvc
      - name: plex-config
        persistentVolumeClaim:
          claimName: plex-pvc
      - name: transcode-cache
        emptyDir:
          medium: Memory
          sizeLimit: 6Gi
      - name: music
        persistentVolumeClaim:
          claimName: music-pvc
      - name: gpu
        hostPath:
          path: /dev/dri