---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
  namespace: mediaplayback
  annotations:
    keel.sh/policy: force
    keel.sh/match-tag: "true"
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: plex
  template:
    metadata:
      labels:
        app.kubernetes.io/name: plex
    spec:
      # Ensuring that the zvol that gets attached through iscsi is formatted with filesystem before Plex starts
      initContainers:
      - name: format-volume
        image: busybox:1.35
        command: ['sh', '-c']
        args:
        - |
          if ! blkid /dev/sda; then
            echo "Formatting volume with ext4..."
            mkfs.ext4 /dev/sda
          else
            echo "Volume already formatted"
          fi
        securityContext:
          privileged: true
        volumeMounts:
        - name: plex-config
          mountPath: /dev/sda
          subPath: ""

      containers:
      - name: plex
        image: plexinc/pms-docker
        env:
        - name: PLEX_UID
          value: "3000"
        - name: PLEX_GID
          value: "3000"
        - name: TZ
          value: "Europe/Brussels"
        - name: PLEX_CLAIM
          valueFrom:
            secretKeyRef:
              name: plex-secrets
              key: plex_claim_token
        
        # Only schedule on nodes that have an Intel GPU available
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
            gpu.intel.com/i915: "1"
          limits:
            memory: "8Gi"
            cpu: "3000m"
            gpu.intel.com/i915: "1"
            
        volumeMounts:
        - name: movies
          mountPath: /movies
        - name: tvshows
          mountPath: /tv
        - name: plex-config
          mountPath: /config
        - name: transcode-cache
          mountPath: /dev/shm
        - name: music
          mountPath: /music
      volumes:
      - name: movies
        persistentVolumeClaim:
          claimName: movies-pvc
      - name: tvshows
        persistentVolumeClaim:
          claimName: tvshows-pvc
      - name: plex-config
        persistentVolumeClaim:
          claimName: plex-pvc
      - name: transcode-cache
        emptyDir:
          medium: Memory
          sizeLimit: 6Gi
      - name: music
        persistentVolumeClaim:
          claimName: music-pvc