PUID=1000
PGID=1000

# Coreservices env
TS_AUTH_KEY=
TS_ROUTES=
CLOUDFLARED_TUNNEL_TOKEN=
VSCODE_TUNNEL_NAME=
ADGUARDHOME_IP_ADDRESS=

# Traefik env
CF_API_EMAIL=
CF_DNS_API_TOKEN=

# Utilities env
BW_CLIENTID=
BW_CLIENTSECRET=
BW_PASSWORD=
BITWARDEN_DOMAIN=
SPEEDTEST_TRACKER_POSTGRES_DB=
SPEEDTEST_TRACKER_POSTGRES_USER=
SPEEDTEST_TRACKER_POSTGRES_PASSWORD=
BITWARDEN_ADMIN_TOKEN=

# Nextcloud env
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=

# Media Env
PLEX_TOKEN=
PLEX_CLAIM_TOKEN=

# Downloaders Env
ARIA2_RPC_SECRET=
ICLOUDPD_WEBHOOK_ID=
ICLOUDPD_APPLE_ID=

# Authentication Env
KEYCLOAK_ADMIN_PASSWORD=
PROVIDERS_OIDC_CLIENT_ID=
PROVIDERS_OIDC_CLIENT_SECRET=
TRAEFIK_FORWARD_AUTH_SECRET=
TRAEFIK_FORWARD_AUTH_COOKIE_DOMAIN=
PROVIDERS_OIDC_ISSUER_URL=
TRAEFIK_FORWARD_AUTH_HOST=
KC_HOSTNAME=
KEYCLOAK_POSTGRESS_PASSWORD=
KEYCLOAK_POSTGRESS_USER=
KEYCLOAK_POSTGRESS_DB=

# Adguardhome-sync Env
adguardhome_origin_url=
adguardhome_origin_username=
adguardhome_origin_password=
adguardhome_replica_url=
adguardhome_replica_username=
adguardhome_replica_password=
adguardhome_replica1_url=
adguardhome_replica1_username=
adguardhome_replica1_password=
adguardhome_sync_ipaddress=