---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: mediaplayback
  annotations:
    keel.sh/policy: force
    keel.sh/match-tag: "true"
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      # Only schedule this pod on nodes william or manta that have a GPU
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - william
                - manta
      containers:
      - name: jellyfin
        image: ghcr.io/jellyfin/jellyfin:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: TZ
          value: "Europe/Brussels"
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "8Gi"
            cpu: "2000m"
        volumeMounts:
        - name: jellyfin-config
          mountPath: /config
        - name: cache
          mountPath: /cache
        - name: movies
          mountPath: /movies
        - name: tvshows
          mountPath: /tv
        - name: transcode-cache
          mountPath: /dev/shm
        - name: gpu
          mountPath: /dev/dri
        securityContext:
          privileged: true
      volumes:
      - name: jellyfin-config
        persistentVolumeClaim:
          claimName: jellyfin-pvc
      - name: cache
        emptyDir: {}
      - name: movies
        persistentVolumeClaim:
          claimName: movies-pvc
      - name: tvshows
        persistentVolumeClaim:
          claimName: tvshows-pvc
      - name: music
        persistentVolumeClaim:
          claimName: music-pvc
      - name: transcode-cache
        emptyDir:
          medium: Memory
          sizeLimit: 6Gi
      - name: gpu
        hostPath:
          path: /dev/dri