---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: mediaplayback
  annotations:
    keel.sh/policy: force
    keel.sh/match-tag: "true"
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
    spec:
      # Ensuring that the zvol that gets attached through iscsi is formatted with filesystem before Jellyfin starts
      initContainers:
      - name: format-volume
        image: busybox:1.35
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c']
        args:
        - |
          if ! blkid /dev/sda; then
            echo "Formatting volume with ext4..."
            mkfs.ext4 /dev/sda
          else
            echo "Volume already formatted"
          fi
        securityContext:
          privileged: true
        volumeMounts:
        - name: jellyfin-config
          mountPath: /dev/sda
          subPath: ""

      containers:
      - name: jellyfin
        image: ghcr.io/jellyfin/jellyfin:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: TZ
          value: "Europe/Brussels"

        # Only schedule on nodes that have an Intel GPU available
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
            gpu.intel.com/i915: "1"
          limits:
            memory: "8Gi"
            cpu: "2000m"
            gpu.intel.com/i915: "1"
            
        volumeMounts:
        - name: jellyfin-config
          mountPath: /config
        - name: cache
          mountPath: /cache
        - name: movies
          mountPath: /movies
        - name: tvshows
          mountPath: /tv
        - name: transcode-cache
          mountPath: /dev/shm
      volumes:
      - name: jellyfin-config
        persistentVolumeClaim:
          claimName: jellyfin-pvc
      - name: cache
        emptyDir: {}
      - name: movies
        persistentVolumeClaim:
          claimName: movies-pvc
      - name: tvshows
        persistentVolumeClaim:
          claimName: tvshows-pvc
      - name: music
        persistentVolumeClaim:
          claimName: music-pvc
      - name: transcode-cache
        emptyDir:
          medium: Memory
          sizeLimit: 6Gi