---
apiVersion: v1
kind: Namespace
metadata:
  name: intel-gpu-plugin
  # Custom namespace in which the intel-gpu-plugin pods will be deployed
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged