proxmox_api_url="https://forestsector.home.timo.be:8006/api2/json"
proxmox_api_token_id="root@pam!terraform"
proxmox_api_token_secret=""

# (Optional) To skip TLS Verification, set to true
proxmox_tls_insecure = true
