services:
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - PUID=${PUID:-3000}
      - PGID=${PGID:-3000}
      - TZ=Europe/Brussels
    volumes:
      - sonarr:/config
      - tvshows:/tv
      - downloads:/downloads
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8989/ping || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60
    ports:
      - 14000:8989

  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - PUID=${PUID:-3000}
      - PGID=${PGID:-3000}
      - TZ=Europe/Brussels
    volumes:
      - radarr:/config
      - movies:/movies
      - downloads:/downloads
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:7878/ping || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60
    ports:
      - 14001:7878

  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - PUID=${PUID:-3000}
      - PGID=${PGID:-3000}
      - TZ=Europe/Brussels
    volumes:
      - bazarr:/config
      - movies:/movies
      - tvshows:/tv
    depends_on:
      sonarr:
        condition: service_started
      radarr:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:6767/api/v1/status || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60
    ports:
      - 14002:6767

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    restart: always
    networks:
      - dockerproxy
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Brussels
    volumes:
      - seerr:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    ports:
      - 14003:5055
    dns:
      - 10.10.10.21
      - 10.10.10.22
      - 10.10.10.35

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - PUID=${PUID:-3000}
      - PGID=${PGID:-3000}
      - TZ=Europe/Brussels
    volumes:
      - prowlarr:/config
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:9696/ping || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60
    ports:
      - 14004:9696
  
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    user: ${PUID:-3000}:${PGID:-3000}
    networks:
      - dockerproxy
    volumes:
      - recyclarr:/config
    environment:
      - TZ=Europe/Brussels
      - CRON_SCHEDULE=@daily

  byparr:
    image: ghcr.io/thephaseless/byparr:latest
    container_name: byparr
    restart: always
    init: true
    networks:
      - dockerproxy

  swaparr-radarr:
    image: ghcr.io/thijmengthn/swaparr:latest
    container_name: swaparr-radarr
    restart: always
    networks:
      - dockerproxy
    environment:
      - BASEURL=http://radarr:7878    # IP or FQDN           (Required)
      - APIKEY=${RADARR_API_KEY}      # Radarr API Key       (Required)                
      - PLATFORM=radarr               # "radarr", "sonarr".. (Optional) default: radarr
      - TIME_THRESHOLD=1d             # 1d, 6h, 30m, etc..   (Optional) default: 2h    
      - SIZE_THRESHOLD=25GB           # 1TB, 1GB, 1MB, etc.. (Optional) default: 25GB  
      - CHECK_INTERVAL=10m            # 1d, 6h, 30m, etc..   (Optional) default: 10m   
      - STRIKE_THRESHOLD=3            # Positive number      (Optional) default: 3

  swaparr-sonarr: 
    image: ghcr.io/thijmengthn/swaparr:latest
    container_name: swaparr-sonarr
    restart: always
    networks:
      - dockerproxy
    environment:
      - BASEURL=http://sonarr:8989    # IP or FQDN           (Required)
      - APIKEY=${SONARR_API_KEY}      # Radarr API Key       (Required)                
      - PLATFORM=radarr               # "radarr", "sonarr".. (Optional) default: radarr
      - TIME_THRESHOLD=1d             # 1d, 6h, 30m, etc..   (Optional) default: 2h    
      - SIZE_THRESHOLD=25GB           # 1TB, 1GB, 1MB, etc.. (Optional) default: 25GB  
      - CHECK_INTERVAL=10m            # 1d, 6h, 30m, etc..   (Optional) default: 10m   
      - STRIKE_THRESHOLD=3            # Positive number      (Optional) default: 3

  yamtrack:
    container_name: yamtrack
    image: ghcr.io/fuzzygrim/yamtrack
    restart: unless-stopped
    networks:
      - dockerproxy
    depends_on:
      - yamtrack-redis
    environment:
      - TZ=Europe/Berlin
      - SECRET=longstring
      - REDIS_URL=redis://yamtrack-redis:6379
      - URLS=URLS=https://yamtrack.kubernetes.timo.be,https://yamtrack.timo.be,http://yamtrackapi.kubernetes.timo.be
    volumes:
      - yamtrack-db:/yamtrack/db
    ports:
      - 14006:8000

  yamtrack-redis:
    container_name: yamtrack-redis
    image: redis:7-alpine
    restart: unless-stopped
    networks:
      - dockerproxy
    volumes:
      - yamtrack-redis:/data

  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - TZ=Europe/Brussels
    volumes:
      - abs-config:/config
      - abs-metadata:/metadata
      - audiobooks:/audiobooks
    ports:
      - 14007:80

  dispatcharr:
    container_name: dispatcharr
    image: ghcr.io/dispatcharr/dispatcharr:latest
    restart: unless-stopped
    networks:
      - dockerproxy
    volumes:
      - dispatcharr:/data
    environment:
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
    ports:
      - 14008:9191
  
  tautulli:
    container_name: tautulli
    image: tautulli/tautulli:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - PUID=${PUID:-3000}
      - PGID=${PGID:-3000}
      - TZ=Europe/Brussels
    volumes:
      - tautulli:/config
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8181 || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60
    ports:
      - 14009:8181

  wrapperr:
    container_name: wrapperr
    image: ghcr.io/aunefyren/wrapperr:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - TZ=Europe/Brussels
    volumes:
      - wrapperr:/app/config
    ports:
      - 14010:8282
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8282/ || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60

  obzorarr:
    container_name: obzorarr
    image: ghcr.io/engels74/obzorarr-docker:latest
    restart: always
    networks:
      - dockerproxy
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - TZ=Europe/Brussels
      - UMASK=002
    volumes:
      - obzorarr:/config
    ports:
      - 14011:3000
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:3000 || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 60

networks:
  dockerproxy:
    external: true

volumes:
  abs-config:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/audiobookshelf/abs-config"
  abs-metadata:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/audiobookshelf/abs-metadata"
  sonarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/sonarr"
  bazarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/bazarr"
  radarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/radarr"
  seerr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/overseerr"
  prowlarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/prowlarr"
  recyclarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/recyclarr"
  yamtrack-db:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/yamtrack/yamtrack-db"
  yamtrack-redis:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/yamtrack/yamtrack-redis"

  movies:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/X.A.N.A./media/movies"
  tvshows:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/X.A.N.A./media/tvshows"
  downloads:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/downloads"
  music:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/X.A.N.A./media/music"
  audiobooks:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/X.A.N.A./media/audiobooks"
  huntarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/huntarr"
  dispatcharr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/dispatcharr"
  tautulli:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/tautulli"
  wrapperr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/wrapperr"
  obzorarr:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/obzorarr"
