services:
  tinshop:
    container_name: tinshop
    image: ghcr.io/ajmandourah/tinshop-ng:latest
    restart: always
    ports:
      - 3000:3000
    environment:
      - TINSHOP_SOURCES_DIRECTORIES=/games
      - TINSHOP_WELCOMEMESSAGE=Welcome to Timo Tinshop!
      - TINSHOP_HOST=10.10.10.2
      - TINSHOP_PORT=3000
      - TINSHOP_REVERSE_PROXY=false
    volumes:
      - nsp:/games
      - tinshop:/data 
      - switchkeys:/switchkeys

volumes:
  tinshop:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/mnt/FranzHopper/appdata/tinshop"
  # Defined as NFS shares because of permission issues when mounting locally. Should still give me local speeds.
  nsp:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=nfs.local.timo.be,nolock,rw,vers=4.2,relatime,sec=sys,hard"
      device: ":/mnt/X.A.N.A./media/games/roms"
  switchkeys:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=nfs.local.timo.be,nolock,rw,vers=4.2,relatime,sec=sys,hard"
      device: ":/mnt/X.A.N.A./media/games/switch/switchkeys"

networks:  
  dockerproxy:
    external: true
