# Required
HOMEPAGE_ALLOWED_HOSTS=

HOMEPAGE_VAR_BAZARR_KEY=
HOMEPAGE_VAR_FORESTSECTOR_PROXMOX_URL=
HOMEPAGE_VAR_ICESECTOR_PROXMOX_URL=
HOMEPAGE_VAR_JDOWNLOADER_PASSWORD=
HOMEPAGE_VAR_JDOWNLOADER_USERNAME=
HOMEPAGE_VAR_MOUNTAINSECTOR_PROXMOX_URL=
HOMEPAGE_VAR_NEXTCLOUD_TOKEN=
HOMEPAGE_VAR_OVERSEERR_KEY=
HOMEPAGE_VAR_PLEX_KEY=
HOMEPAGE_VAR_PORTAINER_KEY=
HOMEPAGE_VAR_PROWLARR_KEY=
HOMEPAGE_VAR_PROXMOX_API_SECRET=
HOMEPAGE_VAR_PROXMOX_API_TOKEN_NAME=
HOMEPAGE_VAR_PROXMOX_URL=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_RADARR_KEY=
HOMEPAGE_VAR_SONARR_KEY=
HOMEPAGE_VAR_UNIFI_USERNAME=
HOMEPAGE_VAR_UNIFI_PASSWORD=
HOMEPAGE_VAR_MEALIE_KEY=
HOMEPAGE_VAR_ADGUARDHOME_USERNAME=
HOMEPAGE_VAR_ADGUARDHOME_PASSWORD=
HOMEPAGE_VAR_TRUENAS_KEY=
HOMEPAGE_VAR_HOMEASSISTANT_KEY=
HOMEPAGE_VAR_JELLYFIN_KEY=