- Hypervisor:
    - Forest Sector:
        icon: proxmox.svg
        href: "{{HOMEPAGE_VAR_PROXMOX_URL}}"
        widget:
            type: proxmox
            url: "{{HOMEPAGE_VAR_FORESTSECTOR_PROXMOX_URL}}"
            username: "{{HOMEPAGE_VAR_PROXMOX_API_TOKEN_NAME}}"
            password: "{{HOMEPAGE_VAR_PROXMOX_API_SECRET}}"
            node: forestsector
    - Ice Sector:
        icon: proxmox.svg
        href: "{{HOMEPAGE_VAR_PROXMOX_URL}}"
        widget:
            type: proxmox
            url: "{{HOMEPAGE_VAR_ICESECTOR_PROXMOX_URL}}"
            username: "{{HOMEPAGE_VAR_PROXMOX_API_TOKEN_NAME}}"
            password: "{{HOMEPAGE_VAR_PROXMOX_API_SECRET}}"
            node: icesector
    - Mountain Sector:
        icon: proxmox.svg
        href: "{{HOMEPAGE_VAR_PROXMOX_URL}}"
        widget:
            type: proxmox
            url: "{{HOMEPAGE_VAR_MOUNTAINSECTOR_PROXMOX_URL}}"
            username: "{{HOMEPAGE_VAR_PROXMOX_API_TOKEN_NAME}}"
            password: "{{HOMEPAGE_VAR_PROXMOX_API_SECRET}}"
            node: mountainsector

- Calendar:
    # Calendar widget
    - "":
        widget:
            type: calendar
            firstDayInWeek: monday
            view: monthly
            maxEvents: 10
            showTime: true
            timezone: Europe/Brussels
            integrations:
                - type: sonarr
                  service_group: Media
                  service_name: Sonarr
                  color: teal
                  params:
                      unmonitored: true
                - type: radarr
                  service_group: Media
                  service_name: Radarr
                  color: amber
                  params:
                      unmonitored: true

- Media:
    - Plex:
        icon: plex.svg
        href: https://app.plex.tv/desktop
        namespace: mediaplayback
        app: plex
        widget:
            type: plex
            url: http://plex.mediaplayback.svc.cluster.local:32400
            key: "{{HOMEPAGE_VAR_PLEX_KEY}}"
    - Jellyfin:
        icon: jellyfin.svg
        href: https://jellyfin.timo.be
        namespace: mediaplayback
        app: jellyfin
        widget:
            type: jellyfin
            url: http://jellyfin.mediaplayback.svc.cluster.local:8096
            key: "{{HOMEPAGE_VAR_JELLYFIN_KEY}}"
            enableBlocks: true
            enableNowPlaying: true
    - Overseerr:
        icon: overseerr.svg
        href: https://request.timo.be
        server: thefactory
        container: overseerr
        widget:
            type: overseerr
            url: http://thefactory.local.timo.be:14003
            key: "{{HOMEPAGE_VAR_OVERSEERR_KEY}}"
    - RomM:
        icon: romm.svg
        href: https://romm.timo.be 
        server: thefactory
        container: romm
        widget:
            type: romm
            url: http://thefactory.local.timo.be:17000
            username: "{{HOMEPAGE_VAR_ROMM_USERNAME}}"
            password: "{{HOMEPAGE_VAR_ROMM_PASSWORD}}"
    - Mealie:
        icon: mealie.svg
        href: https://mealie.timo.be
        namespace: mealie
        app: mealie
        widget:
            type: mealie
            url: http://mealie.mealie.svc.cluster.local:9000
            key: "{{HOMEPAGE_VAR_MEALIE_KEY}}"
            version: 2
    - Sonarr:
        icon: sonarr.svg
        href: https://sonarr.timo.be
        server: thefactory
        container: sonarr
        widget:
            type: sonarr
            url: http://thefactory.local.timo.be:14000
            key: "{{HOMEPAGE_VAR_SONARR_KEY}}"
    - Radarr:
        icon: radarr.svg
        href: https://radarr.timo.be
        server: thefactory
        container: radarr
        widget:
            type: radarr
            url: http://thefactory.local.timo.be:14001
            key: "{{HOMEPAGE_VAR_RADARR_KEY}}"
    - Bazarr:
        icon: bazarr.svg
        href: https://bazarr.timo.be
        server: thefactory
        container: bazarr
        widget:
            type: bazarr
            url: http://thefactory.local.timo.be:14002
            key: "{{HOMEPAGE_VAR_BAZARR_KEY}}"
    - Prowlarr:
        icon: prowlarr.svg
        href: https://prowlarr.timo.be
        server: thefactory
        container: prowlarr
        widget:
            type: prowlarr
            url: http://thefactory.local.timo.be:14004
            key: "{{HOMEPAGE_VAR_PROWLARR_KEY}}"
    - Paperless:
        icon: paperless-ngx.svg
        href: https://paperless.timo.be
        server: thefactory
        container: paperless-ngx
        widget:
            type: paperlessngx
            url: http://thefactory.local.timo.be:11004
            key: "{{HOMEPAGE_VAR_PAPERLESS_KEY}}"

- Downloaders:
    - Qbittorrent:
        icon: qbittorrent.svg
        href: https://qbittorrent.timo.be
        server: thefactory
        container: qbittorrent
        widget:
            type: qbittorrent
            url: http://thefactory.local.timo.be:12000
            username: "{{HOMEPAGE_VAR_QBITTORRENT_USERNAME}}"
            password: "{{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}"
    # - Jdownloader:
    #     icon: jdownloader.svg
    #     href: https://jdownloader2.timo.be
    #     server: thefactory
    #     container: jdownloader
    #     widget:
    #         type: jdownloader
    #         username: "{{HOMEPAGE_VAR_JDOWNLOADER_USERNAME}}"
    #         password: "{{HOMEPAGE_VAR_JDOWNLOADER_PASSWORD}}"
    #         client: Jdownloader@Docker
    - Spotdl:
        icon: spotify.svg
        href: https://spotdl.timo.be
        server: thefactory
        container: spotdl-web
    - Ariang:
        icon: ariang.png
        href: https://ariang.timo.be
        server: thefactory
        container: ariang
    - Metube:
        icon: metube.svg
        href: https://metube.timo.be
        server: thefactory
        container: metube

- Networking:
    - Unifi:
        icon: unifi.svg
        href: https://unifi.ui.com
        siteMonitor: https://unifi.local.timo.be
        widget:
            type: unifi
            url: https://unifi.local.timo.be
            username: "{{HOMEPAGE_VAR_UNIFI_USERNAME}}"
            password: "{{HOMEPAGE_VAR_UNIFI_PASSWORD}}"
    - Adguardhome (Odd):
        icon: adguard-home.svg
        description: "10.10.10.22"
        href: https://adguardhome.timo.be
        server: odd
        container: adguardhome
        widget:
            type: adguard
            url: http://10.10.10.22
            username: "{{HOMEPAGE_VAR_ADGUARDHOME_USERNAME}}"
            password: "{{HOMEPAGE_VAR_ADGUARDHOME_PASSWORD}}"
    - Adguardhome (Ulrich):
        icon: adguard-home.svg
        description: "10.10.10.21"
        href: https://adguardhome.timo.be
        server: ulrich
        container: adguardhome
        widget:
            type: adguard
            url: http://10.10.10.21
            username: "{{HOMEPAGE_VAR_ADGUARDHOME_USERNAME}}"
            password: "{{HOMEPAGE_VAR_ADGUARDHOME_PASSWORD}}"
    - Adguardhome (Kubernetes):
        icon: adguard-home.svg
        description: "10.10.10.35"
        href: https://adguardhome.timo.be
        namespace: adguardhome
        app: adguardhome
        widget:
            type: adguard
            url: http://10.10.10.35
            username: "{{HOMEPAGE_VAR_ADGUARDHOME_USERNAME}}"
            password: "{{HOMEPAGE_VAR_ADGUARDHOME_PASSWORD}}"
    - Traefik:
        icon: traefik.svg
        href: https://traefik.timo.be
        namespace: traefik
        app: traefik
        widget:
            type: traefik
            url: https://traefikapi.kubernetes.timo.be
    - Netbootxyz:
        icon: netboot.svg
        href: https://netbootxyz.timo.be
        namespace: pxeboot
        app: netbootxyz
    - iVentoy:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/svg/iventoy.svg
        href: https://iventoy.timo.be
        namespace: pxeboot
        app: iventoy
        
- Filemanagement:
    - Nextcloud:
        icon: nextcloud.svg
        href: https://nextcloud.timo.be
        server: thefactory
        container: nextcloud-aio-mastercontainer
        widget:
            type: nextcloud
            url: http://thefactory.local.timo.be:11000
            key: "{{HOMEPAGE_VAR_NEXTCLOUD_TOKEN}}"
    - Filezilla:
        icon: filezilla.svg
        href: https://filezilla.timo.be
        server: thefactory
        container: filezilla
    - Double Commander:
        icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/double-commander.svg
        href: https://doublecommander.timo.be
        server: thefactory
        container: doublecommander

- Utilities:
    - Bitwarden:
        icon: bitwarden.svg
        href: https://bitwarden.timo.be
        namespace: bitwarden
        app: bitwarden
    - Paperless-ai:
        icon: https://cdn.jsdelivr.net/gh/selfhst/icons/webp/paperless-ai.webp
        href: https://paperlessai.timo.be
        server: thefactory
        container: paperless-ai
    - Keel:
        icon: mdi-update
        href: https://keel.timo.be
        namespace: keel
        app: keel
    - Stirling-PDF:
        icon: stirling-pdf.svg
        href: https://stirlingpdf.timo.be
        namespace: stirlingpdf
        app: stirlingpdf
    - Gatus:
        icon: gatus.svg
        href: https://gatus.timo.be
        namespace: gatus
        app: gatus
        widget:
            type: gatus
            url: http://gatus.gatus.svc.cluster.local:8080

- Containers:
    - Ulrich:
        icon: portainer.svg
        href: https://portainer.timo.be
        namespace: portainer
        app: portainer
        widget:
            type: portainer
            url: https://portainer.portainer.svc.cluster.local:9443
            key: "{{HOMEPAGE_VAR_PORTAINER_KEY}}"
            env: 5
    - Odd:
        icon: portainer.svg
        href: https://portainer.timo.be
        namespace: portainer
        app: portainer
        widget:
            type: portainer
            url: https://portainer.portainer.svc.cluster.local:9443
            key: "{{HOMEPAGE_VAR_PORTAINER_KEY}}"
            env: 4
    - The Factory:
        icon: portainer.svg
        href: https://portainer.timo.be
        namespace: portainer
        app: portainer
        widget:
            type: portainer
            url: https://portainer.portainer.svc.cluster.local:9443
            key: "{{HOMEPAGE_VAR_PORTAINER_KEY}}"
            env: 6

- Storage:
    - TrueNAS:
        icon: truenas.svg
        href: https://truenas.timo.be/ui
        siteMonitor: https://truenas.local.timo.be
        widget:
            type: truenas
            url: http://truenas.local.timo.be
            key: "{{HOMEPAGE_VAR_TRUENAS_KEY}}"
            enablePools: true
            nasType: scale

- Home Automation:
    - Home Assistant:
        icon: home-assistant.svg
        href: https://hass.timo.be
        siteMonitor: http://hass.local.timo.be:8123
        widget:
            type: homeassistant
            url: http://hass.local.timo.be:8123
            key: "{{HOMEPAGE_VAR_HOMEASSISTANT_KEY}}"
    - Zigbee2MQTT:
        icon: zigbee2mqtt.svg
        href: https://hass.timo.be
        siteMonitor: http://hass.local.timo.be:8099
    - Scrypted:
        icon: scrypted.webp
        href: https://scrypted.timo.be
        siteMonitor: https://hass.local.timo.be:10443