apiVersion: apps/v1
kind: Deployment
metadata:
  name: bitwarden
  namespace: utilities
  labels:
    app.kubernetes.io/name: bitwarden
  annotations:
    keel.sh/policy: force
    keel.sh/match-tag: "true"
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: bitwarden
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bitwarden
    spec:
      nodeSelector:
        kubernetes.io/hostname: yumi
      containers:
        - name: bitwarden
          image: vaultwarden/server:latest
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          
          startupProbe:
            httpGet:
              path: /alive
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 30
            successThreshold: 1
          
          readinessProbe:
            httpGet:
              path: /alive
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
          
          livenessProbe:
            httpGet:
              path: /alive
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          
          env:
            - name: DOMAIN
              valueFrom:
                secretKeyRef:
                  name: bitwarden-secret
                  key: DOMAIN
            - name: SERVER_ADMIN_EMAIL
              valueFrom:
                secretKeyRef:
                  name: bitwarden-secret
                  key: SERVER_ADMIN_EMAIL
            - name: SIGNUPS_ALLOWED
              value: "false"
            - name: INVITATIONS_ALLOWED
              value: "false"
            - name: WEBSOCKET_ENABLED
              value: "false"
            - name: ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bitwarden-secret
                  key: ADMIN_TOKEN
          volumeMounts:
            - name: bitwarden-data
              mountPath: /data
      volumes:
        - name: bitwarden-data
          hostPath:
            path: /var/mnt/bitwarden
            type: Directory