# Apply all these resources with `kubectl apply -k .` from the directory containing this file
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

secretGenerator:
  - name: adguardhome-sync-secrets
    namespace: cert-manager
    envs:
    - adguardhome-sync.env
    type: Opaque
    options:
      annotations:
        reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
        reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
        reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "adguardhome"

generatorOptions:
  disableNameSuffixHash: true
 
resources:
  - adguardhome-sync.yaml