# Add autoupdate through keel for tailscale-operator & enable apiserver proxy in noauth mode
apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: tailscale
  annotations:
    keel.sh/policy: all
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 24h"
spec:
  selector:
    matchLabels:
      app: operator
  template:
    spec:
      containers:
        - name: operator
          env:
            - name: APISERVER_PROXY
              value: "true"