version: v1alpha1
machine:
  certSANs:
    - 10.10.10.33
    - kubernetes.local.timo.be
  kubelet:
    # Fat image necessary for iscsi to work
    image: ghcr.io/siderolabs/kubelet:v1.35.0-fat
    # Required for metrics-server, which is required by homepage to use its kubernetes widget
    extraArgs:
      rotate-server-certificates: true
    extraConfig:
      nodeStatusUpdateFrequency: 4s
      featureGates:
        GracefulNodeShutdown: true
  
  sysctls:
    vm.nr_hugepages: "1024"
  
  network:
    nameservers:      
      - 10.10.10.21
      - 10.10.10.22

  install:
    disk: /dev/sda

    # Image with several extensions & kernel args - see talos-image.yaml
    # curl -X POST --data-binary @talos-image.yaml https://factory.talos.dev/schematics
    image: factory.talos.dev/installer/451cf6f46f8d83ff633a62c31305b3ff2b3df0af14a0a9c81b9eda8d9456114e:v1.12.0

cluster:
  controlPlane:
    endpoint: https://10.10.10.33:6443
    