version: v1alpha1
machine:
  certSANs:
    - 10.10.10.33
    - kubernetes.local.timo.be
  kubelet:
    # Fat image necessary for iscsi to work
    image: ghcr.io/siderolabs/kubelet:v1.34.1-fat
    # Required for metrics-server, which is required by homepage to use its kubernetes widget
    extraArgs:
      rotate-server-certificates: true
    extraConfig:
      nodeStatusUpdateFrequency: 4s
      featureGates:
          GracefulNodeShutdown: true
  
  sysctls:
    vm.nr_hugepages: "1024"
  
  network:
    nameservers:      
      - 10.10.10.21
      - 10.10.10.22

  install:
    disk: /dev/sda

    # Image with several extensions & kernel args - see talos-image.yaml
    # curl -X POST --data-binary @talos-image.yaml https://factory.talos.dev/schematics
    image: factory.talos.dev/installer/4487efdc3abfe8fccc6170646936978beccd8bfd09ba893a5140a2de15f54296:v1.11.6
    extraKernelArgs:
      - net.ifnames=0 # Disables predictable network interface names so that interface name is just eth0

cluster:
  controlPlane:
    endpoint: https://10.10.10.33:6443
    