# Machine specific config for william

machine:
  certSANs:
    - 10.10.10.30
    - william.local.timo.be
  kubelet:
    nodeIP:
      validSubnets:
        - 10.10.10.0/24
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: william
auto: off
---
apiVersion: v1alpha1
kind: LinkConfig
name: eth0
up: true
mtu: 1500
addresses:
  - address: 10.10.10.30/24
routes:
  - gateway: 10.10.10.1
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.10.10.33
link: eth0