# Machine specific config for yumi

machine:
  certSANs:
    - 10.10.10.7
    - yumi.local.timo.be
  kubelet:
    nodeIP:
      validSubnets:
        - 10.10.10.0/24
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: yumi
auto: off
---
apiVersion: v1alpha1
kind: LinkConfig
name: eth0
up: true
mtu: 1500
addresses:
  - address: 10.10.10.7/24
routes:
  - gateway: 10.10.10.1