[Desktop Entry]
Type=Application
Name=Miel Monteur Bouwt Auto's
Exec=86Box --config /home/deck/Emulation/roms/lutris/mielmonteur1/86Boxconfig.cfg --rompath /home/deck/Emulation/roms/lutris/mielmonteur1/roms --fullscreen
Categories=Game
Path=/home/deck/Emulation/roms/lutris/mielmonteur1