# Apply this kustomization with `kubectl kustomize --enable-helm . | kubectl apply -f -` from the directory containing this file
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - keel-clusterrolebinding.yaml
  - keel-ingress.yaml
  - keel-service.yaml
  - keel.yaml

secretGenerator:
  - name: keel-basic-auth
    namespace: utilities
    envs:
      - keel-basic-auth-secrets.env
    type: Opaque

generatorOptions:
 disableNameSuffixHash: true